{
    "port": 9080,
    "thread_count": 4,
    "db_pool_size": 5,
    "bind_address": "*",
    "database_path": "mohses.db",
    "mohses_config": "mohses_config.xml",
    "action_path": "./Actions/",
    "assessment_path": "./assessments/",
    "config_path": "./config/",
    "state_path": "./states/",
    "patient_path": "./patients/",
    "scenario_path": "./static/scenarios/",
    "debug_enabled": true,
    "discovery_enabled": true
}